/* https://help.coderdojo.com/cdkb/s/article/CoderDojo-branding */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    flex-direction: column; */

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    overflow-y: scroll;
}

body > header {
    grid-column: 1/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 1em;
}

body > header > #menu_button {
    display: none;
    align-self: flex-end;
}

body.javaScript > header > #menu_button {
    display: initial;
}

body.javaScript > header > #menu_button > span:first-of-type {
    display: initial;
}

body.javaScript > header > #menu_button > span:last-of-type {
    display: none;
}

body.javaScript.menu-open > header > #menu_button > span:first-of-type {
    display: none;
}

body.javaScript.menu-open > header > #menu_button > span:last-of-type {
    display: initial;
}

body > header > a > img:last-of-type {
    display: none;
}

body.javaScript.menu-open > header > a > img:first-of-type {
    display: none;
}

body.javaScript.menu-open > header > a > img:last-of-type {
    display: initial;
}

body > aside {
    display: none;
}

body.javaScript > aside {
    align-items: center;
    background-color: rgba(0,0,0, .9);
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 1em;
    z-index: 1;
}

body.javaScript.menu-open > header {
    background-color: rgba(0,0,0, .9);
}

body.javaScript.menu-open > footer {
    background-color: rgba(0,0,0, .9);
}

body.javaScript.menu-open > footer > p {
    color: rgb(255,255,255);
}

body.javaScript.menu-open > aside {
    display: flex;
}

body.javaScript.menu-open > header > ul#menu_items {
    display: flex;
}

body > header > a > img {
    max-width: 100%;
}

body > header > ul {
    display: none;
}

body.javaScript > aside > ul#menu_items {
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
}

body.javaScript > aside > ul#menu_items > li > button {
    background-color: transparent;
    border: none;
    color: rgb(255,255,255);
    font-weight: bold;
}

body.javaScript > aside > ul#menu_items > li.active > button {
    color: blue;
}

body > main {
    grid-column: 1/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    padding: 1em 0 2em 0;
}

body > main > h1 {
    align-self: center;
    padding: 1em;
}

body > main > article {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 1em;
}

body.javaScript > main > article {
    display: none;
}

body.javaScript > main > article.active {
    display: flex;
}

body > main > article > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

body > main > article > div > img {
    max-width: 100%;
}

body > main > article#over {
    background-color: aquamarine;
}

body > main > article#nieuws {
    background-color: palegoldenrod;
}

body > footer {
    grid-column: 1/3;
    grid-row: 3/4;

    padding: 2em 1em;
}

body > footer > p {
    font-size: 0.8em;
}

button {
    cursor: pointer;
    font-size: 1em;;
    padding: .5em;
}

@media only screen and (min-width: 600px){
    body {
        font-size: 16px;
    }
}
